/* style */
$font-family: var(--font-family, Onest);   
$error-color: var(--error-color, #990000);   
$confirmation-color: var(--confirmation-color, #00992b);   
$page-background: var(--page-background, #ebecf1);  
$button-confirmation: var(--button-confirmation, #00992b);   
$button-error: var(--button-error, #990000);   
$background-color-button: var(--background-color-button, #ffc219); 
$background-image: var(--background-image);   
$header-text-color: var(--header-text-color, #fff);
$text-color: var(--text-color, #1a1a1a);   
$placeholder-colot: var(--placeholder-colot, #bababa);   

.booking {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  color: $text-color;
  background-color: $page-background;

  // .booking__container

  &__container {
  }

  // .booking__title

  &__title {
    font-size: 46px;
    font-weight: 800;
    margin-bottom: 50px;
    line-height: 1.2;

    @include tablet {
      font-size: 32px;
      margin-bottom: 40px;
    }

    @include mobile-s {
      font-size: 24px;
      margin-bottom: 32px;
    }
  }

  // .booking__form

  &__form {
  }

  // .booking__fieldset

  &__fieldset {

    // .booking__fieldset_user-info

    &_user-info {
      margin-bottom: 50px;

      @include tablet {
        margin-bottom: 40px;
      }
    }

    // .booking__fieldset_commedians

    &_commedians {
      margin-bottom: 122px;

      @include tablet {
        margin-bottom: 82px;
      }
    }
  }

  // .booking__legend

  &__legend {
    font-weight: 800;
    margin-bottom: 20px;
  }

  // .booking__input-group

  &__input-group {
    display: flex;
    gap: 8px;

    @include mobile {
      flex-direction: column;
    }
  }

  // .booking__input

  &__input {
    display: block;
    max-width: 380px;
    height: 44px;
    width: 100%;
    font-size: 18px;
    line-height: 1.4;
    border-radius: 8px;
    background-color: #fff;
    color: $text-color;
    border: 1px solid transparent;
    padding: 0 16px;

    @include mobile {
      max-width: none;
    }

    &::placeholder {
      color: $placeholder-colot;
    }
    
    &:hover {
      color: #f9f9f9; 
    }
    
    &:focus {
      border-color:#bcbcbc;
      outline: none
    }

    &_valid {
      border-color: $confirmation-color;
    }

    &_invalid {
      border-color: $error-color;
    }
  }

  // .booking__input-fullname

  &__input-fullname {
  }

  // .booking__input-phone

  &__input-phone {
  }

  // .booking__input-ticket

  &__input-ticket {
  }

  // .booking__commedians-list

  &__commedians-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  // .booking__commedian

  &__commedian {
    display: flex;
    align-items: center;

    @include mobile-s {
      flex-wrap: wrap;
    }
  }
  
  // .booking__select

  &__select {
    margin-right: 8px;
    width: 100%;
    height: 44px;
    
    font-size: 18px;
    line-height: 1.4;

    border-radius: 8px;
    background-color: #fff;
    color: $text-color;
    border: 1px solid transparent;
    padding: 0 16px;

    // .booking__select_comedian

			&_comedian {
        max-width: 380px;

        @include mobile-s {
          max-width: none;
          margin-bottom: 8px;
        }
			}

			// .booking__select_time

			&_time {
        max-width: 183px;
        margin-right: 18px;
			}
  }

  // .booking__hall

  &__hall {
    white-space: nowrap;
    font-size: 18px;
    line-height: 1.4;
    padding-right: 32px;
    background: url('./../images/gg_qr.svg') right/24px no-repeat;
  }

  // .booking__button

  &__button {
    font-size: 18px;
  }

  // .booking__button-sumbit

  &__button-sumbit {
  }
}