/* style */
$font-family: var(--font-family, Onest);   
$error-color: var(--error-color, #990000);   
$confirmation-color: var(--confirmation-color, #00992b);   
$page-background: var(--page-background, #ebecf1);  
$button-confirmation: var(--button-confirmation, #00992b);   
$button-error: var(--button-error, #990000);   
$background-color-button: var(--background-color-button, #ffc219); 
$background-image: var(--background-image);   
$header-text-color: var(--header-text-color, #fff);
$text-color: var(--text-color, #1a1a1a);   
$placeholder-colot: var(--placeholder-colot, #bababa);   

.event {
  
  inline-size: 100%;
  min-block-size: 100vh;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: $page-background;
  background-image: $background-image;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: $header-text-color;
  
  transition: opacity 0.5s, visibility 0.5s;
  opacity: 1;
  visibility: visible;

  padding: 30px;

  @include mobile-s {
    justify-content: flex-start;
    padding: 80px 16px 60px;
    justify-content: center;
  }
  
  // .event__hidden
  &__hidden {
    display: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    inline-size: 100%;
    }

  // .event__title
  &__title {
    font-size: clamp(5rem, 1.923rem + 4.81vw, 6.25rem);
    font-weight: 800;
    line-height: 1.2; 
    margin-block-end: 50px;
    text-align: center;

    @include tablet {
      font-size: clamp(2.375rem, -1.578rem + 9.3vw, 4.375rem);
      margin-block-end: 39px;
    }
    
    @include mobile-s {
      margin-block-end: 8px;
    }
  }

  // .event__info
  &__info {
    display: flex;
    gap: 80px; 
    margin-block-end: 62px;

    @include tablet {
      gap: 50px; 
      margin-block-end: 45px;
    }
    
    @include mobile-s {
      display: grid;
      grid-template-columns: max-content max-content;
      gap: 10px;
      margin-block-end: 30px;
    }
  }

  // .event__info-item
  &__info-item {
    display: flex;
    align-items: baseline;
    gap: 8px;

    font-size: 30px;
    line-height: 1.4;

    @include tablet {
      font-size: 24px;
    }
  }

  // .event__info-number
  &__info-number {
    font-size: 80px;
    font-weight: 800;
    line-height: 1.2;
    
    @include tablet {
      font-size: 50px;
    }

    @include mobile-s {
      font-size: 20px;
    }
  }

  // .event__button-inner
  &__button-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    @include mobile-s {
      gap: 20px; 
    }
  }

  // .event__button
  &__button {
    font-size: 24px;
    visibility: visible;
    opacity: 1;

    // .event__button_reserve
    &_reserve {
      @include tablet {
        font-size: 18px;
      }
    }

    // .event__button_hidden
    &_hidden {
      visibility: hidden;
      opacity: 0;
    }
    
    // .event__button_edit
    &_edit {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 18px;
    }
  }  
}