// .modal
.modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 20;
  inset: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

  // .modal_show
  &_show {
    display: flex;
  }
  
  // .modal__content
  &__content {
    position: relative;
    padding: 40px;
    margin: auto;
    background-color: var(--background-color);
    border: 1px solid #888;
  }

  // .modal__close
  &__close {
    position: absolute;
    inset-block-start: 15px;
    inset-inline-end: 15px;
    color: #555;

    &:hover,
    &:focus {
      color: var(--text-color);
    }
  }
}