.ts-dropdown, 
.ts-control, 
.ts-control input {
  font-size: 18px;
  line-height: 1.4;
  
  border-radius: 8px;
  color: var(--text-color, #1a1a1a);
  border: 1px solid transparent;
  padding: 10px 16px 8px;
}

.dropdown-active .ts-control {
  border-radius: 8px;
}

.ts-dropdown .active {
  background-color: transparent;
}

.ts-dropdown.single .ts-control {
  background: #fff;
}

.ts-wrapper.single .ts-control::after {
  border-color: #1a1a1a transparent transparent transparent;
}

.ts-wrapper.single.dropdown-active .ts-control::after {
  border-color: transparent transparent #1a1a1a transparent;
}